.header
{
    background: #536777 url('../static/images/header-bg.png') repeat-x;
}

.logo
{
    font-size: 6em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-left: 1.6%;
}

.logo a
{
    color: #fff;
    text-decoration: none;
}

.description
{
    color: #FFFAFA;
    font-size: 1.7em;
    margin-left: 1.6%;
}

.navigation
{
    background: #6D98AB url('../static/images/sidebar-bg.png') repeat-x;
    border-bottom: 5px solid black;
    font-weight: bold;
}

.navigation ul
{
    padding: 1% 0 1% 0;
    margin: 0 0 0 20%;
    list-style: none;
    float: left;
}

.navigation ul li
{
    margin: 0;
    padding: 0 0 0 5%;
    display: inline;
    font-size: 1.5em;
}

.navigation ul li a
{
    text-decoration: none;
    color: #000;
    outline: none;
}

.navigation .current
{
    background: #BEF243 url('../static/images/box-bg.png') repeat-x;
    padding: 0.5%;
}

.line
{
    background: #EBECEE;
}

.sidebar
{
    background: #6D98AB url('../static/images/sidebar-bg.png') repeat-x;
    padding: 1%;
    margin-left: 5%;
    margin-top: 1%;
}

.sidebar-input
{
    width: 75%;
    height: 30px;
    font-size: 1.5em;
    background: #EBECEE;
}

.box-title
{
    background: #BEF243 url('../static/images/box-bg.png') repeat-x;
    padding: 1%;
    padding-left: 2%;
    margin: 2% 0 2% 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Lucida Grande;
    font-size: 1.7em;
    letter-spacing: 0.1em;
}

.box-content
{
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    color: #fff;
    font-size: 1.1em;
}

.box-content a
{
    color: #FFFBD0;
    text-decoration: none;
}

.box-content a:hover, .post-body a:hover, .post-info a:hover, .tag-list a:hover
{
    background: #B22222;
    color: #fff;
}

.post, .page
{
    margin: 1% 2% 5% 2%;
    font-family: Lucida Grande;
}

.page
{
    font-size: 1.0em;
}

.post h2, .posts h2, .page h2
{
    border-bottom: 1px solid #DEE7EF;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2%;
}

.post-title
{
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.post-title a
{
    text-decoration: none;
    color: #000;
    outline: none;
}

.post-info
{
    margin-bottom: 1%;
}


.post-body
{
    line-height: 1.4em;
    font-size: 1.0em;
}

.post-body p, .page p
{
    margin-bottom: 1%;
    line-height: 1.4em;
}

.post-body a, .post-info a, .tag-list a
{
    color: #006699;
}

.post-body ul
{
    margin-bottom: 1%;
}

.post-body li, .page li
{
    margin-left: 3%;
    list-style: disc;
}

.footer
{
    margin-top: 1%;
    padding: 1%;
    background: #000;
    color: #fff;
    text-align: center;
}

.comments
{
    font-family: Lucida Grande, sans-serif;
    font-size: 1em;
}

input[type="submit"]
{
    font-family: Lucida Grande, sans-serif;
    font-size: 1.1em;
}

.comments h3
{
    font-size: 2em;
    font-weight: bold;
    margin: 2% 0 0 0;
}

.comment-form div
{
    margin-bottom: 1%;
}

.comments .input, .registration-form .input
{
    width: 35%;
    height: 30px;
    font-size: 1.1em;
}

.comments textarea
{
    width: 45%;
    height: 175px;
    font-size: 1.1em;
}

.comment-box, .comment-info
{
    margin-left: 2%;
    font-size: 0.9em;
}

.comment-box
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.comment-info
{
    margin-bottom: 1%;
}

.comment-info a
{
    color: #006699;
    text-decoration: none;
}

code
{
    line-height: 1.4em;
    padding: 1%;
    overflow: auto;
    margin-bottom: 1%;
}

.tagpost
{
    margin-bottom: 0.7%;
    margin-left: 3%;
    list-style: disc;
    font-size: 1.1em;
}

.tagpost a
{
    color: #000;
    text-decoration: none;
}

.registration-form
{
    margin-top: 2%;
    margin-left: 30%;
    font-size: 1.1em;
    font-family: Lucida Grande;
}

#more
{
    background:#DEE7EF none repeat scroll 0 0;
    color:#ADC1D6;
    margin-left:2%;
    padding:20px;
    text-align:center;
    width:450px;
    cursor: pointer;
}

#more:hover
{
    background:#ADC1D6;
    color:#FFF;
}

blockquote
{
    margin-left: 1%;
    font-size: 0.9em;
}

.recent-comment
{
    color: #F9F8F8;
}
